.logo a{
	color: white;
	font-size: 30px;
}
.ptb-80{
	padding-top: 80px;
	padding-bottom: 80px;
}
svg#icon {
	margin-top: 40px;
}
.counter{
	position: relative;
}
.counter-left{
	top: 50px;
	left: 17rem;
}
.counter-right{
	top: 50px;
	right: 17rem;
	z-index: 1;
}
.blue-color{
	color: #4192b0;
}
.black-color{
	color: #000;
}
.pb-50 {
	padding-bottom: 50px;
}
.pt-20{
	padding-top: 20px;
}
.icon-box{
	display: flex;
	align-items: center;
	padding-left: 80px;
}
ul li.bullet {
	list-style-type: disc;
}
.grid-container {
	display: grid;
	grid-template-columns: auto auto auto auto auto;
	grid-row-gap: 15px;
	column-gap: 15px;
}
h2.rotate-text {
	transform: rotate(-90deg);
	width: max-content;
	position: relative;
	top: 9em;
	font-size: 30px!important;
}
.card {
	background: black;
	width: 300px;
	height: 200px;
	position: relative;
}
svg#icon-card {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.text-expertise {
	margin-bottom: 30px;
}
.image-expertise {
	position: relative;
	left: 13em;
	top: 1em;
}
.d-flex{
	display: flex;
}
.testimonial-bar hr.color{
	height: 4px;
	width: 150px;
	background: #fff;
	margin: 0;
	margin-top: 30px;
}
.border {
	border-top: 1px solid #cacaca;
	padding-top: 10px;
}
.footer-center{
	display: flex;
	justify-content: center;
}
.footer-center li{
	list-style-type: disc;
	padding-right: 28px;
}
.footer-center li::before{
	content: "";
	color: #4192b0;
}
.tx-left {
	left: 150px!important;
}
.desktop-visible{
	display: block;
}
.mobile-visible{
	display: none;
}
.container-50{
	padding-left: 50px;
	padding-right: 50px;
	margin-right: auto;
	margin-left: auto;

}
svg#arrow-down {
    animation: bounce 2s ease-in-out infinite;
    animation-fill-mode: both;
    animation-direction: alternate;
}
.tx-left-30{
	left: 150px!important;
}
.w-80{
	width: 80%;
}
.pb-5{
	padding-bottom: 50px;
}
.center{
	display: flex;
	justify-content: center;
}
.fz-20{
	font-size: 20px;
}
.text-expertise span {
    font-size: 20px;
}
.mb-20{
	margin-bottom: 20px!important;
}
@media screen and (max-width: 762px){
	.heading-block.style-4 h4{
		font-size: 34px;
	}
	.heading-block.style-3 h3{
		font-size: 36px;
	}
	h4{
		font-size: 20px;
	}
	.w-80{
		width: 100%;
	}
	.container-50{
		padding-left: 15px;
		padding-right: 15px;
	}
	.desktop-visible{
		display: none;
	}
	.mobile-visible{
		display: block
	}
	.tx-left {
		left: 20px!important; 
	}
	.counter-left {
		top: 50px;
		left: 0!important
	}
	.counter-right {
		top: -32px;
		z-index: 1;
		right: 0!important;
	}
	.icon-box{
		padding-left: 0;
	}
	.icon-box.ib-style-2 .ib-info {
		padding-left: 4.14286rem;
	}
	.grid-container {
		display: grid;
		grid-template-columns: auto auto auto ;
		grid-row-gap: 15px;
		column-gap: 15px;
	}
	.mobile-none{
		display: none;
	}
	.card{
		width: 100%;
	}
	.heading-block.style-2 h2 {
		font-size: 34px;
		}	
	.d-flex, .footer-center{
		display: initial;
	}	
	.footer-center li{
		padding-right: 0;
	}
	ul.footer-center li {
	    text-align: center;
	    list-style-type: none;
	}
	#footer .copyright p{
		text-align: center;
	}
	.social-links ul {
	     float: none; 
	    text-align: center;
	}
	.right{
		float: none;
	}
	img.with-img {
	    width: 100%!important;
	    height: 100%!important;
	}
	.appear1 {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  opacity: 0;
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
}

.appear1.inview {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.appear2 {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  opacity: 0;
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
}

.appear2.inview {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.appear3 {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  opacity: 0;
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
}

.appear3.inview {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.appear4 {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  opacity: 0;
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
}

.appear4.inview {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.appear5 {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  opacity: 0;
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
}

.appear5.inview {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.appear6 {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  opacity: 0;
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
}

.appear6.inview {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.appear7 {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  opacity: 0;
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
}

.appear7.inview {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.appear8 {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  opacity: 0;
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
}

.appear8.inview {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.appear9 {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  opacity: 0;
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
}

.appear9.inview {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.appear10 {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  opacity: 0;
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
}

.appear10.inview {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}
.appear11 {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  opacity: 0;
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
}

.appear11.inview {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}
.appear12 {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  opacity: 0;
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
}

.appear12.inview {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}
.appear13 {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  opacity: 0;
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
}

.appear13.inview {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}
.appear14 {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  opacity: 0;
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
}

.appear14.inview {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}
.appear15 {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  opacity: 0;
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
}

.appear15.inview {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}
.appear16 {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  opacity: 0;
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
}

.appear16.inview {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}
.appear17 {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  opacity: 0;
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
}

.appear17.inview {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}
.appear18 {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  opacity: 0;
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
}

.appear18.inview {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}
.appear19 {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  opacity: 0;
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
}

.appear19.inview {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}
.appear20 {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  opacity: 0;
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
}

.appear20.inview {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}
.appear21 {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  opacity: 0;
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
}

.appear21.inview {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}
.appear22 {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  opacity: 0;
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
}

.appear22.inview {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}
.appear23 {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  opacity: 0;
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
}

.appear23.inview {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}
.appear24 {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  opacity: 0;
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
}

.appear24.inview {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.appear25 {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  opacity: 0;
  -webkit-transform: translateX(-40px);
          transform: translateX(-40px);
}

.appear25.inview {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}
.appear26 {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  opacity: 0;
  -webkit-transform: translateX(-40px);
          transform: translateX(-40px);
}

.appear26.inview {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.appear27 {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  opacity: 0;
  -webkit-transform: translateX(-40px);
          transform: translateX(-40px);
}

.appear27.inview {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.appear28 {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  opacity: 0;
  -webkit-transform: translateX(-40px);
          transform: translateX(-40px);
}

.appear28.inview {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.appear29 {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  opacity: 0;
  -webkit-transform: translateX(40px);
          transform: translateX(40px);
}

.appear29.inview {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.appear30 {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  opacity: 0;
  -webkit-transform: translateX(-40px);
          transform: translateX(-40px);
}

.appear30.inview {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.appear31 {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  opacity: 0;
  -webkit-transform: translateX(40px);
          transform: translateX(40px);
}

.appear31.inview {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.appear32 {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  opacity: 0;
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
}

.appear32.inview {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}
.appear33 {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  opacity: 0;
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
}

.appear33.inview {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}
.appear34 {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  opacity: 0;
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
}

.appear34.inview {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}
.appear35 {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  opacity: 0;
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
}

.appear35.inview {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}
.appear36 {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  opacity: 0;
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
}

.appear36.inview {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.appear37 {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  opacity: 0;
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
}

.appear37.inview {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.appear38 {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  opacity: 0;
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
}

.appear38.inview {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}
.appear39 {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  opacity: 0;
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
}

.appear39.inview {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}
.appear40 {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  opacity: 0;
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
}

.appear40.inview {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}
.appear41 {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  opacity: 0;
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
}

.appear41.inview {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}
header nav li a:hover {
  color: #000;
}
header nav li.active a {
  color: #000;
  border-bottom: 2px solid #000; 
  border-color: transparent;
}
	header nav li a{
    color: #000!important;
  }
  header nav li a:after{
    background-color: #000!important;
  }
}


